*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}


.header{
 align-items: center;
 justify-content: center;

}

.banner{
    height: 100vh;
    background: url(images/donation7.jpg);
    background-size: cover;
   text-align: center;
}


.banner-title .title{
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
padding: 300px 0 40px 0;
}

.banner .banner-description{
    color: #ffffff;
    font-weight: 400;
   margin:0 350px 50px 350px;
}

.banner-btn{
    color: #ffffff;
    background-color: #ff5959;
    font-size: 26px;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

/* donate section */

.donate .donate-container{
text-align: center;
}

.donate-con-title h1{
    font-size: 50px;
    margin: 100px 0 50px 0;

}

.donate-con-des p{
    font-size: 30px;
    color: #737373;
    margin: 40px 200px 80px 200px;
}

.donate-amount{
    display: flex;
    margin: 0 400px 40px 400px;
    justify-content: space-evenly;
    

}

.donate-amount .amount{
    color: #757575;
    font-size: 35px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #e9e9e96d;
    padding: 40px 30px;
    margin: 10px;
}

.donate-amount .amount:nth-child(2){
    background-color: #FFEEEE;
    border: 3px solid #ff5959;
}

input{
    width: 500px;
    height: 40px;
    font-size: 32px;
}

input[type=text]{
    border: 1px solid #757575;
    border: none;
    border-bottom: 2px solid #757575;
   padding-left: 250px;
    margin: 20px 0; 
outline: none;
    

}


input[type=text]::placeholder{
    text-align: left;
    
}

input[type=text]:focus{
    border: 1px solid #757575;
    border-top: none;
    border-right: none;
    border-left: none;
}

.donate-btn{
    color: #ffffff;
    background-color: #ff5959;
    font-size: 26px;
    padding: 10px;
    border: none;
    border-radius: 6px;
}